.oit {
    height: 140px;
    background: #2ebee2;
}

.oitmoji {
    color: #fcfcfc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.name {
    display: flex;
    width: 1000px;
    height: 372px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #1a2219;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.line {
    width: 1440px;
    height: 228px;
    flex-shrink: 0;
}

.age {
    width: 859px;
    height: 117px;
    flex-shrink: 0;
    color: #000;
    font-family: Inter;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}